<a href="https://colab.research.google.com/github/prabhmeharbedi/Learning-Python/blob/main/Python_Learning_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

--
# **Python Learning Assignment**
--
---

### There are 13 Questions in this Assignment:

---
#Q1 - L is a list defined as L= [11, 12, 13, 14].

---
### 1.1 - WAP to add 50 and 60 to L.
---

In [1]:
#1.1
L= [11, 12, 13, 14]
print ("Original List --> ", L)
L.append(50)  #adding 50 to L
L.append(60)  #adding 60 to L
print ("List after changes --> ", L)

Original List -->  [11, 12, 13, 14]
List after changes -->  [11, 12, 13, 14, 50, 60]

---
### 1.2 - WAP to remove 11 and 13 from L.
---

In [2]:
#1.2
L= [11, 12, 13, 14]
print ("Original List --> ", L)
L.remove(11)  #removing 11 from L
L.remove(13)  #removing 13 from L
print ("List after changes --> ", L)

Original List -->  [11, 12, 13, 14, 50, 60]
List after changes -->  [12, 14, 50, 60]

---
### 1.3 - WAP to sort L in ascending order.
---

In [3]:
#1.3
L= [11, 12, 13, 14]
print ("Original List --> ", L)
L.sort()
print ("List after Sorting --> ", L)

Original List -->  [12, 14, 50, 60]
List after Sorting -->  [12, 14, 50, 60]

---
### 1.4 - WAP to sort L in descending order.
---

In [4]:
#1.4
L= [11, 12, 13, 14]
print ("Original List --> ", L)
L.sort(reverse=True)
print ("List after Sorting --> ", L)

Original List -->  [12, 14, 50, 60]
List after Sorting -->  [60, 50, 14, 12]

---
### 1.5 - WAP to search 13 in L.
---

In [5]:
#1.5
L= [11, 12, 13, 14]
print ("List --> ", L)
for i in range(len(L)):
  if L[i]==13:        # finding 13 in L
    print("Found at %d index"%(i+1))
  else:
    print ("Not Found")

List -->  [60, 50, 14, 12]
Not Found
Not Found
Found at 3 index
Not Found

---
### 1.6 - WAP to count the number of elements present in L.
---

In [7]:
#1.6
L= [11, 12, 13, 14]
print ("List --> ", L)
print(len(L))     #counting the number of items in L

4

---
### 1.7 - WAP to sum all the elements in L.
---

In [15]:
#1.7
L= [11, 12, 13, 14]
print ("List --> ", L)
print("Sum of elements in list is ",sum(L))

List -->  [11, 12, 13, 14]
Sum of elements in list is  50

---
### 1.8 - WAP to sum all ODD elements in L.
---

In [18]:
#1.8
L= [11, 12, 13, 14]
print ("List --> ", L)
sum = 0
for i in L:
  if i%2:
    sum+=i
print("Sum of ODD elements in list is ",sum)

List -->  [11, 12, 13, 14]
Sum of ODD elements in list is  24

---
### 1.9 - WAP to sum all EVEN elements in L.
---

In [21]:
#1.9
L= [11, 12, 13, 14]
print ("List --> ", L)
sum = 0
for i in L:
  if not(i%2):
    sum+=i
print("Sum of EVEN elements in list is ",sum)

List -->  [11, 12, 13, 14]
Sum of EVEN elements in list is  26

---
### 1.10 - WAP to sum all PRIME elements in L.
---

In [23]:
#1.10
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1
L= [11, 12, 13, 14]
print ("List --> ", L)
sum = 0
for i in L:
  if IsPrime(i):
    sum+=i
print("Sum of PRIME elements in list is ",sum)

List -->  [11, 12, 13, 14]
Sum of PRIME elements in list is  24

---
### 1.11 - WAP to clear all elements in L.
---

In [28]:
#1.11
L= [11, 12, 13, 14]
print ("List --> ", L)
L.clear()
print ("List after changes --> ", L)

List -->  [11, 12, 13, 14]
List after changes -->  []

---
### 1.12 - WAP to delete L.
---

In [29]:
#1.12
L= [11, 12, 13, 14]
print ("List --> ", L)
del(L)
print ("List after changes --> ", L)      # error because L does not exists

List -->  [11, 12, 13, 14]

NameError: ignored

---
# Q2 - D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

---
### 2.1 - WAP to add new entry in D; key=8 and value is 8.8
---

In [30]:
#2.1
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print ("Dictionary      --> ", D)
D[8] = 8.8
print ("After Adding    --> ", D)

Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Adding    -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

---
### 2.2 - WAP to remove key=2.
---

In [31]:
#2.2
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print ("Dictionary      --> ", D)
del D[2]
print ("After Deleting  --> ", D)

Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Deleting  -->  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

---
### 2.3 - WAP to check weather 6 key is present in D.
---

In [33]:
#2.3
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print ("Dictionary      --> ", D)
for i in D:
  if i==6:
    print("Present")
else:
  print("Absent")

Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Absent

---
### 2.4 - WAP to count the number of elements present in D.
---

In [35]:
#2.4
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print ("Dictionary          --> ", D)
print ("Number of Elements  --> ", len(D))

Dictionary          -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Number of Elements  -->  5

---
### 2.5 - WAP to add all the values present D.
---

In [38]:
#2.5
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print ("Dictionary           --> ", D)
sum = 0
for i in D.values():
  sum = sum + i
print ("The sum of values is --> ",sum)

Dictionary           -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
The sum of values is -->  36.4

---
### 2.6 - WAP to update the value of 3 to 7.1.
---

In [39]:
#2.6
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print ("Dictionary      --> ", D)
D[3] = 7.1
print ("After Editing   --> ", D)

Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Editing   -->  {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

---
### 2.7 - WAP to clear the dictionary.
---

In [40]:
#2.7
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print ("Dictionary      --> ", D)
D.clear()
print ("After Clearing  --> ", D)

Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Clearing  -->  {}

---
# Q3 - S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].    S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

---
### 3.1 - WAP to add 55 and 66 in Set S1.
---

In [49]:
#3.1
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print("Original set S1      --> ", S1)
print("Original set S2      --> ", S2)

S1.add(55)        # add 55 to S1
S1.add(66)        # add 66 to S1
print("New set S1           --> ", S1)

Original set S1      -->  {50, 20, 40, 10, 60, 30}
Original set S2      -->  {80, 50, 70, 40, 90, 60}
New set S1           -->  {50, 66, 20, 55, 40, 10, 60, 30}

---
### 3.2 - WAP to remove 10 and 30 from Set S1.
---

In [50]:
#3.2
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print("Original set S1      --> ", S1)
print("Original set S2      --> ", S2)

S1.remove(10)        # removing 10 from S1
S1.remove(30)        # removing 30 from S1
print("New set S1           --> ", S1)

Original set S1      -->  {50, 20, 40, 10, 60, 30}
Original set S2      -->  {80, 50, 70, 40, 90, 60}
New set S1           -->  {50, 20, 40, 60}

---
### 3.3 - WAP to check whether 40 is present in S1.
---

In [53]:
#3.3
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print("Original set S1      --> ", S1)
print("Original set S2      --> ", S2)

for i in S1:
  if i == 40:
    print("Present")
    break
else:
  print("Not Present")

Original set S1      -->  {50, 20, 40, 10, 60, 30}
Original set S2      -->  {80, 50, 70, 40, 90, 60}
Present
Not Present

---
### 3.4 - WAP to find the union between S1 and S2.
---

In [55]:
#3.4
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print("Original set S1      --> ", S1)
print("Original set S2      --> ", S2)

print("Union of S1 and S2   --> ", S1.union(S2))

Original set S1      -->  {50, 20, 40, 10, 60, 30}
Original set S2      -->  {80, 50, 70, 40, 90, 60}
Union of S1 and S2   -->  {70, 40, 10, 80, 50, 20, 90, 60, 30}

---
### 3.5 - WAP to find the intersection between S1 and S2.
---

In [56]:
#3.5
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print("Original set S1      --> ", S1)
print("Original set S2      --> ", S2)

print("Union of S1 and S2   --> ", S1.intersection(S2))

Original set S1      -->  {50, 20, 40, 10, 60, 30}
Original set S2      -->  {80, 50, 70, 40, 90, 60}
Union of S1 and S2   -->  {40, 50, 60}

---
### 3.6 - WAP to find the S1 - S2.
---

In [57]:
#3.6
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print("Original set S1      --> ", S1)
print("Original set S2      --> ", S2)

print("S1 - S2              --> ", S1 - S2)

Original set S1      -->  {50, 20, 40, 10, 60, 30}
Original set S2      -->  {80, 50, 70, 40, 90, 60}
S1 - S2              -->  {10, 20, 30}

---
# Q4 - Write the following programs:

---
### 4.1 - WAP to print 100 random strings whose length between 6 and 8.
---

In [63]:
#4.1
import string as s
import random as r
print ("String        --> ",s.ascii_letters)
for i in range(100):
  length = r.randint(6,8)
  r_string=r.sample(s.ascii_letters + s.ascii_letters + s.ascii_letters, length)
  r_string="".join(r_string)
  print ("Random string number ", i+1, " is  --> ",r_string)

String        -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
Random string number  1  is  -->  zKyQJge
Random string number  2  is  -->  iWcKen
Random string number  3  is  -->  jfAWJDvN
Random string number  4  is  -->  CXIBVeE
Random string number  5  is  -->  lCgCPu
Random string number  6  is  -->  IXojgx
Random string number  7  is  -->  quHQLB
Random string number  8  is  -->  RLVKWNYA
Random string number  9  is  -->  nrHyZnWJ
Random string number  10  is  -->  IlmjOF
Random string number  11  is  -->  SlePuQKW
Random string number  12  is  -->  NDcfMeHN
Random string number  13  is  -->  vgcvNIz
Random string number  14  is  -->  KILhev
Random string number  15  is  -->  DeSzjd
Random string number  16  is  -->  fNABjmH
Random string number  17  is  -->  FxuqCiwd
Random string number  18  is  -->  nGlLArSc
Random string number  19  is  -->  NKCMfnQt
Random string number  20  is  -->  IXHDSg
Random string number  21  is  -->  FrzIww
Random string number  22  is  -->  nDzAKVOJ
Random string number  23  is  -->  sSxKDch
Random string number  24  is  -->  xWYERtHL
Random string number  25  is  -->  KrGKTJjf
Random string number  26  is  -->  ZCvxYd
Random string number  27  is  -->  eChNFn
Random string number  28  is  -->  xYAKOmw
Random string number  29  is  -->  YOCDIp
Random string number  30  is  -->  bGzkktB
Random string number  31  is  -->  XJTmbk
Random string number  32  is  -->  TnCloX
Random string number  33  is  -->  QHWgpi
Random string number  34  is  -->  uDfLbd
Random string number  35  is  -->  JVjgtB
Random string number  36  is  -->  nIXqhr
Random string number  37  is  -->  QrGLrhXS
Random string number  38  is  -->  xmbFOsVi
Random string number  39  is  -->  cUKqQeQ
Random string number  40  is  -->  eqnajdM
Random string number  41  is  -->  RgVtWm
Random string number  42  is  -->  ZmVLpTBE
Random string number  43  is  -->  yJhINdpb
Random string number  44  is  -->  lDKaMeZ
Random string number  45  is  -->  dzqkrm
Random string number  46  is  -->  BblPNtkx
Random string number  47  is  -->  NwkKDBL
Random string number  48  is  -->  kKxtNoTY
Random string number  49  is  -->  DXCNvURt
Random string number  50  is  -->  GMsAXjDd
Random string number  51  is  -->  utNeTRz
Random string number  52  is  -->  HMsDaeM
Random string number  53  is  -->  PvKYma
Random string number  54  is  -->  ODFsga
Random string number  55  is  -->  yXnRpRtD
Random string number  56  is  -->  PmtOul
Random string number  57  is  -->  ubcziZPL
Random string number  58  is  -->  ITEieo
Random string number  59  is  -->  FcbtYkHB
Random string number  60  is  -->  sPbitxRv
Random string number  61  is  -->  MKEITDqz
Random string number  62  is  -->  YEBUwNFV
Random string number  63  is  -->  jxIMmL
Random string number  64  is  -->  IsZilx
Random string number  65  is  -->  McxjDq
Random string number  66  is  -->  AvQvycH
Random string number  67  is  -->  hpruSYGM
Random string number  68  is  -->  RHDaaZc
Random string number  69  is  -->  GwRAVZx
Random string number  70  is  -->  frBACw
Random string number  71  is  -->  eIMiCgsK
Random string number  72  is  -->  fpjdKpa
Random string number  73  is  -->  CMRkLXm
Random string number  74  is  -->  Raqjhh
Random string number  75  is  -->  dHYnXx
Random string number  76  is  -->  vHHVBic
Random string number  77  is  -->  DVjjyWvd
Random string number  78  is  -->  dyHRxzl
Random string number  79  is  -->  SFKkhDjr
Random string number  80  is  -->  vVskde
Random string number  81  is  -->  iwJYXc
Random string number  82  is  -->  lkvtEbC
Random string number  83  is  -->  qPSYhyg
Random string number  84  is  -->  XTvQwm
Random string number  85  is  -->  YUwFoHf
Random string number  86  is  -->  TIUOtKJ
Random string number  87  is  -->  dIBUZJHy
Random string number  88  is  -->  xWqjTSX
Random string number  89  is  -->  tHAhug
Random string number  90  is  -->  NYhYmu
Random string number  91  is  -->  WuQoNpMD
Random string number  92  is  -->  gitCTDr
Random string number  93  is  -->  EguzmaSR
Random string number  94  is  -->  nXdmxUc
Random string number  95  is  -->  YmFTlykV
Random string number  96  is  -->  uFIXrL
Random string number  97  is  -->  CGJrPEU
Random string number  98  is  -->  kAszxtwP
Random string number  99  is  -->  hVFWfyo
Random string number  100  is  -->  tCrkNJ

---
### 4.2 - WAP to print all prime numbers between 600 and 800.
---

In [70]:
#4.2
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1
flag = 1
for i in range (600,800):
  if IsPrime(i):
    flag = 0;
    print(i,end = ' ')        # Printing prime numbers
if flag:
  print("No Prime Numbers")

601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797

---
### 4.3 - WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.
---

In [77]:
#4.3
for i in range(100,1000):
  if ((i % 7 == 0)&(i % 9 == 0)):
    print(i, end = ' ')

126 189 252 315 378 441 504 567 630 693 756 819 882 945

---
# Q5 - WAP to create two lists of 10 random numbers between 10 and 30; Find

---
### 5.1 - Common numbers in the two lists
---

In [90]:
#5.1
import random as r

L1 = []
L2 = []

for i in range(10):
    L1.append(r.randint(10, 30))
    L2.append(r.randint(10, 30))

set1 = set(L1)
set2 = set(L2)

print("List 1           --> ", L1)  # random list created
print("List 2           --> ", L2)  # random list created
print("Common Numbers   --> ", set1.intersection(set2))

List 1           -->  [23, 12, 24, 23, 20, 17, 16, 12, 27, 28]
List 2           -->  [27, 11, 20, 23, 26, 30, 25, 28, 10, 13]
Common Numbers   -->  {27, 20, 28, 23}

---
### 5.2 - Unique numbers in both the list
---

In [93]:
#5.2
import random as r

L1 = []
L2 = []

for i in range(10):
    L1.append(r.randint(10, 30))
    L2.append(r.randint(10, 30))

set1 = set(L1)
set2 = set(L2)

print("List 1                 --> ", L1)  # random list created
print("List 2                 --> ", L2)  # random list created

print("Unique Numbers in L1   --> ", set1 - set1.intersection(set2))
print("Unique Numbers in L2   --> ", set2 - set1.intersection(set2))

List 1                 -->  [20, 23, 11, 23, 27, 28, 22, 30, 10, 15]
List 2                 -->  [15, 17, 28, 18, 25, 27, 28, 15, 12, 24]
Unique Numbers in L1   -->  {10, 11, 20, 22, 23, 30}
Unique Numbers in L2   -->  {12, 17, 18, 24, 25}

---
### 5.3 - Minimum in both the list
---

In [96]:
#5.3
import random as r

L1 = []
L2 = []

for i in range(10):
    L1.append(r.randint(10, 30))
    L2.append(r.randint(10, 30))

print("List 1                 --> ", L1)  # random list created
print("List 2                 --> ", L2)  # random list created

print("Minimum Numbers in L1  --> ", min(L1))
print("Minimum Numbers in L2  --> ", min(L2))

List 1                 -->  [26, 14, 15, 30, 30, 28, 22, 16, 23, 15]
List 2                 -->  [19, 21, 28, 13, 26, 26, 14, 23, 12, 19]
Minimum Numbers in L1  -->  14
Minimum Numbers in L2  -->  12

---
### 5.4 - Maximum in both the list
---

In [95]:
#5.4
import random as r

L1 = []
L2 = []

for i in range(10):
    L1.append(r.randint(10, 30))
    L2.append(r.randint(10, 30))

print("List 1                 --> ", L1)  # random list created
print("List 2                 --> ", L2)  # random list created

print("Maximum Numbers in L1  --> ", max(L1))
print("Maximum Numbers in L2  --> ", max(L2))

List 1                 -->  [26, 20, 23, 29, 11, 10, 25, 20, 13, 25]
List 2                 -->  [23, 21, 25, 12, 14, 27, 11, 20, 17, 13]
Maximum Numbers in L1  -->  29
Maximum Numbers in L2  -->  27

---
### 5.5 - Sum of both the lists
---

In [98]:
#5.5
import random as r

L1 = []
L2 = []

for i in range(10):
    L1.append(r.randint(10, 30))
    L2.append(r.randint(10, 30))

print("List 1                 --> ", L1)  # random list created
print("List 2                 --> ", L2)  # random list created

del sum
print("Sum of Numbers in L1   --> ", sum(L1))
print("Sum of Numbers in L2   --> ", sum(L2))

List 1                 -->  [18, 25, 25, 12, 15, 11, 22, 15, 25, 21]
List 2                 -->  [15, 16, 19, 21, 15, 12, 16, 26, 25, 16]
Sum of Numbers in L1   -->  189
Sum of Numbers in L2   -->  181

---
# Q6 - WAP to create a list of 100 random numbers between 100 and 900. Count and print:

---
### 6.1 - All odd numbers
---

In [103]:
#6.1
import random as r

L = []

for i in range(100):
    L.append(r.randint(100, 900))

print("List                        --> ", L)  # random list created

count = 0
print("\nThe odd numbers are         :- ")
for i in L:
  if (i % 2):
    count = count + 1
    print(i)
print("\nThere were total ", count, " ODD numbers.")

List                        -->  [114, 535, 706, 162, 859, 848, 481, 465, 570, 876, 298, 212, 149, 419, 462, 292, 295, 237, 550, 709, 890, 634, 509, 483, 810, 897, 500, 420, 282, 486, 292, 558, 170, 496, 219, 602, 596, 150, 227, 112, 139, 826, 379, 207, 267, 184, 425, 126, 359, 652, 308, 358, 597, 666, 496, 151, 698, 169, 772, 736, 754, 681, 249, 436, 108, 381, 327, 247, 641, 553, 884, 615, 684, 867, 656, 622, 154, 696, 581, 436, 759, 322, 217, 508, 672, 787, 544, 377, 292, 521, 124, 390, 411, 526, 762, 769, 286, 377, 421, 441]

The odd numbers are         :-
535
859
481
465
149
419
295
237
709
509
483
897
219
227
139
379
207
267
425
359
597
151
169
681
249
381
327
247
641
553
615
867
581
759
217
787
377
521
411
769
377
421
441

There were total  43  ODD numbers.

---
### 6.2 - All even numbers
---

In [105]:
#6.2
import random as r

L = []

for i in range(100):
    L.append(r.randint(100, 900))

print("List                        --> ", L)  # random list created

count = 0
print("\nThe even numbers are         :- ")
for i in L:
  if not(i % 2):
    count = count + 1
    print(i)
print("\nThere were total ", count, " EVEN numbers.")

List                        -->  [656, 871, 207, 414, 598, 352, 176, 335, 194, 361, 787, 419, 758, 672, 856, 271, 164, 561, 239, 388, 420, 576, 561, 619, 200, 703, 791, 861, 201, 266, 338, 203, 381, 363, 611, 681, 124, 423, 242, 891, 710, 709, 486, 540, 347, 262, 153, 739, 790, 282, 601, 617, 785, 409, 207, 352, 524, 650, 480, 539, 673, 675, 475, 481, 683, 334, 690, 489, 379, 193, 806, 631, 551, 642, 172, 461, 843, 595, 274, 215, 843, 173, 254, 396, 646, 857, 174, 258, 554, 571, 220, 540, 899, 773, 309, 520, 620, 689, 821, 787]

The odd numbers are         :-
656
414
598
352
176
194
758
672
856
164
388
420
576
200
266
338
124
242
710
486
540
262
790
282
352
524
650
480
334
690
806
642
172
274
254
396
646
174
258
554
220
540
520
620

There were total  44  EVEN numbers.

---
### 6.3 - All prime numbers
---

In [108]:
#6.3
import random as r

def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

L = []

for i in range(100):
    L.append(r.randint(100, 900))

print("List                        --> ", L)  # random list created

count = 0
print("\nThe prime numbers are       --> ")
for i in L:
  if IsPrime(i):
    count = count + 1
    print(i, end = ' ')
print("\n\nThere were total ", count, " PRIME numbers.")

List                        -->  [760, 403, 204, 871, 531, 713, 788, 835, 644, 214, 460, 864, 899, 853, 207, 209, 390, 509, 656, 605, 182, 713, 855, 228, 569, 250, 377, 681, 159, 122, 252, 481, 520, 633, 759, 115, 234, 310, 500, 837, 128, 692, 493, 272, 676, 868, 841, 705, 258, 368, 876, 577, 192, 892, 620, 365, 104, 521, 605, 878, 356, 588, 466, 545, 403, 523, 817, 705, 442, 856, 272, 532, 639, 252, 687, 211, 838, 532, 848, 401, 854, 714, 771, 339, 207, 530, 353, 694, 687, 354, 472, 661, 181, 369, 443, 430, 586, 600, 315, 643]

The prime numbers are       -->
853 509 569 577 521 523 211 401 353 661 181 443 643

There were total  13  PRIME numbers.

---
# Q7 - D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.

---
### WAP to read all the keys and values from dictionary and write to the file in the given below format :
### Key1, Value1
###Key2, Value2
###Key3, Value3
---

In [121]:
#7
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

with open("output_7.txt", "w") as file:                         # Open a file for writing
    for key, value in D.items():
        file.write(f"Key{key}, Value{key} \n")                # Writing in the file

print("Data written to the file successfully.")

Data written to the file successfully.

---
# Q8 - L is a list defined as L={"One","Two","Three","Four","Five"}.

---
###WAP to count the length of reach element from a list and write to the file in the given below format:

###One, 3
###Two, 3
###Four, 4

---

In [126]:
#8
L = ["One", "Two", "Three", "Four", "Five"]

sorted_list = sorted(L, key=len)

with open("output.txt", "w") as file:
    for item in sorted_list:
        length = len(item)
        file.write(f"{item}, {length}\n")

print("Data written to the file successfully.")

Data written to the file successfully.

---
# Q9 - Write to the file 100 random strings whose length between 10 and 15.
---

In [123]:
#9
import string as s
import random as r

with open("output_9.txt", "w") as file:
    for i in range(100):
        length = r.randint(10, 15)
        r_string = r.sample(s.ascii_letters * 5, length)
        r_string = "".join(r_string)
        file.write(f"Random string number {i+1} is --> {r_string}\n")

print("Data written to the file successfully.")

Data written to the file successfully.

---
# Q10 - Write to the file all prime numbers between 600 and 800.
---

In [128]:
#10
def IsPrime(n):
    for i in range(2, n//2 + 1):
        if n % i == 0:
            return False
    return True

with open("output_10.txt", "w") as file:
    for i in range(600, 800):
        if IsPrime(i):
            file.write(str(i) + "\n")

print("Data written to the file successfully.")

Data written to the file successfully.

---
# Q11 - WAP to calculate the time taken by a program.
---

In [132]:
import time as t
start = t.time()

# calculated time to find 10 fibonacci series

def fibonacci(n):
    series = []
    a, b = 0, 1
    while len(series) < n:
        series.append(a)
        a, b = b, a + b
    return series

terms = 10

fib_series = fibonacci(terms)

for num in fib_series:
    print(num, end=" ")

end = t.time()

print("\nTotal Time     -->", end - start)

0 1 1 2 3 5 8 13 21 34
Total Time     --> 0.009016752243041992

---
# Q13 - WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks.
---

In [137]:

student_marks = {
    'Amar': [85, 90, 92, 88, 89],
    'Bhola': [78, 82, 80, 75, 85],
    'Chutki': [92, 88, 95, 90, 86],
    'Deva': [70, 75, 68, 80, 72],
    'Evaanka': [95, 92, 88, 90, 93]
}

max_average = -1
min_average = float('inf')
max_student = None
min_student = None

# Finding the student with maximum and minimum average marks
for student, marks in student_marks.items():
    average_marks = sum(marks) / len(marks)

    if average_marks > max_average:
        max_average = average_marks
        max_student = student

    if average_marks < min_average:
        min_average = average_marks
        min_student = student

# Printing the student with maximum average marks
print("Student with maximum average marks:")
print("Name:", max_student)
print("Average Marks:", sum(student_marks[max_student]) / len(student_marks[max_student]))

print()

# Printing the student with minimum average marks
print("Student with minimum average marks:")
print("Name:", min_student)
print("Average Marks:", sum(student_marks[min_student]) / len(student_marks[min_student]))

Student with maximum average marks:
Name: Evaanka
Average Marks: 91.6

Student with minimum average marks:
Name: Deva
Average Marks: 73.0